 <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text">About</h4>
          <p class="text">Helpful scholarships all in one place to get you a 🚢 load of money. </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.urbandictionary.com/define.php?term=Scholarship" target='_blank' class="text">Motivation4You ❤️</a></li>
            <li><a href="https://buy.stripe.com/7sI4gJef0coF5OMbII" target='_blank' class="text">Buy me a coffee ☕️</a></li>
          </ul>
        </div>
      </div>
    </div>


<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>




  </body>
</html>
